.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #769382, #C0C3B9);
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  min-width: 350px;
  max-width: 400px;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.login-title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
}

.login-button {
  background-color: #769382;
  border-color: #769382;
}
.login-button:hover {
  background-color: #5f796c;
  border-color: #5f796c;
}

.btn-login-personalizado {
  background-color: rgb(0, 153, 255); /* cor de fundo */
  color: white;                       /* cor do texto */
  border: 1px solid rgb(0, 100, 200); /* borda */
}

.btn-login-personalizado:hover {
  background-color: rgb(0, 123, 200); /* cor no hover */
  border-color: rgb(0, 90, 180);
}